body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 300px; */
  /* height: 0px; */
}

.bodybackground {
  background-image: url(tile_grey_32.png);
  border: 0;
  color: #DDDDDD;
  font-size: 16px;
}